body{
    margin:0;
    background-color:#12181b;
}
.passstyle{
    color:#EAB308;
}
.generate{
    color:#EC4899;
}
.wrapup,.header{
    color:white;
    font-family:cubano,sams-serif;
    font-size:60px;
}
.wrapup{
    border: 5px solid violet;
    width:900px;
    margin-top:100px;
    padding:50px;
}
input{
    width:240px;
    height:30px;
}
.submit{
    font-size:50px;
    position: relative;
    left:400px;
    bottom:30px;
    width:200px;
    height:90px;
    border-radius:20cm;
    background-color: yellow;
    color:red;
}